<!DOCTYPE html>

    <html lang="en">
        <%- include ("partials/head.ejs")%>
  <body>
    <h1>Create an Account</h1>
    <form action = "createAccount" method = "POST">
       <input type = "text" name = "username" placeholder = "Enter Username">
         <br>
         <input type = "text" name = "displayname" placeholder = "Enter Display Name">
         <br>
         <input type = "text" name = "email" placeholder = "Enter Email">
         <br>
         <input type = "password" name = "password" placeholder = "Enter Password">
         <br>
         <input type = "text" name = "location" placeholder = "Enter Location">
         <br>
         <input type = "text" name = "language" placeholder = "Enter Language">
         <br>
         <input type = "file" name = "picture">
      
         <br>
         <button>Create Account</button>
         
         <br>
     </form>

         <label>
             <p>Already have an account? Login in.</p>
             <button onclick = "location.href = 'login'"> Login </button>
 
         </label>

  </body>
</html>