<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet"  href="css/styles.css">
</head>


<body>
    <div class="background-image"></div>

    <div class="login-container">
        <h1>Login</h1>

        <form action="login" method="POST">
            <input type="text" name="username" placeholder="Enter Username">
            <br><br />
            <input type="password" name="password" placeholder="Enter Password">
            <br><br />
            <button>Login</button>
            <br><br />
        </form>

        <p>Don't have an account yet?</p>
        <button onclick="location.href = 'createAccount'">Create account</button>
    </div>
</body>

</html>
